<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>
<body>
    <h1>
        Experiencia laboral
    </h1>
     <div id="Enlaces">
        <a href="tel:6121674944">
            Realizar una llamada
        </a>
        <br>
    <a href="../home.html">
        ir a home
       </a>
       <br>
       <a href="#footer">
        ir a footer
       </a>
       <br>
       <a href="../about.html">
        ir a bio
       </a>
       <br>
       <a href="../contact.html">
        ir a contacto 
       </a>
       <br>
        <a href="../views/work.html">
        ir a cv
       </a>
        </div>
</body>
</html>